    -----------------------
    About
    -----------------------
    Christian Schlichtherle
    -----------------------

About

    This module provides Swing GUI classes for viewing file trees
    and choosing entries in archive files.

    For the API documentation, please refer to the Javadoc of the package
    {{{../apidocs/net/java/truevfs/access/swing/package-summary.html}<<<net.java.truevfs.access.swing>>>}}
