#parse("common.vm")
    -----------------------
    Encrypted Application File Format
    -----------------------
    Christian Schlichtherle
    -----------------------

Encrypted Application File Format

* Motivation

    Suppose you're writing a plug-in for the next generation application
    which shall use an archive file format with a custom file suffix
    (extension) as a persistent container for some application data, e.g. a
    text document, and you need to make sure that nobody can read or modify the
    contents of the custom file format aside from authenticated parties.

    Then, wouldn't it be nice if you wouldn't need to worry about how to read
    or write archive files using cumbersome archive type specific APIs?
    And wouldn't it be also nice if you wouldn't have to deal with complex
    encryption, decryption and authentication code?
    And wouldn't it be even nicer if you wouldn't have to write the user dialog
    for password prompting?

* Accessing Encrypted and Authenticated Application File Formats

    Thanks to the
    {{{../truezip-file/index.html}TrueZIP File*}}
    module, here's your relief:
    The
    {{{../apidocs/de/schlichtherle/truezip/file/TFile.html}<<<TFile>>>}},
    {{{../apidocs/de/schlichtherle/truezip/file/TFileInputStream.html}<<<TFileInputStream>>>}}
    and
    {{{../apidocs/de/schlichtherle/truezip/file/TFileOutputStream.html}<<<TFileOutputStream>>>}}
    classes can read and write entries within an encrypted and authenticated
    archive file as if they were plain files in regular directories in the file
    system.

    First, you need to register your custom application file format suffix
    with an instance of an archive driver class like this:

+-------------------------------------------------+
TFile.setDefaultArchiveDetector(
    new TArchiveDetector(
        "fox|bax",
        new SafeZipRaesDriver(  IOPoolLocator.SINGLETON,
                                KeyManagerLocator.SINGLETON)));
+-------------------------------------------------+

    Once this has been called, any new <<<TFile>>> object will recognize the
    file suffixes <<<fox>>> and <<<bax>>>, whereby case is ignored,
    and assume the ZIP.RAES file format to read or write these files.

    Note that TrueZIP automatically recognizes false positive archive files,
    so it cannot get confused by files with arbitrary content which accidently
    use the suffix of your custom application file format.

    Please also note the usage of the class
    {{{../apidocs/de/schlichtherle/truezip/fs/archive/zip/raes/SafeZipRaesDriver.html}<<<SafeZipRaesDriver>>>}}
    for accessing the ZIP.RAES file format.
    This is one of two available archive driver implementations for TrueZIP's
    custom encrypted ZIP.RAES file format (or TZP for short).
    The other one is the class
    {{{../apidocs/de/schlichtherle/truezip/fs/archive/zip/raes/ParanoidZipRaesDriver.html}<<<ParanoidZipRaesDriver>>>}}.
    A TZP file is a ZIP file with UTF-8 encoded entry names (like the JAR file
    format) which is wrapped in a RAES file envelope.
    RAES is TrueZIP's custom Random Access Encryption Specification which
    supports SHA-256 authentication and AES-256 decryption in CTR block
    mode for transparent, read/write access to its encrypted payload.
    By using CTR mode, RAES supports transparent <random> read access to
    its encrypted payload, which makes reading a TZP file pretty fast.

    Note the injection of the
    {{{../apidocs/de/schlichtherle/truezip/key/sl/KeyManagerLocator.html#SINGLETON}<<<KeyManagerLocator.SINGLETON>>>}}
    into the <<<SafeZipRaesDriver>>>.
    This object is responsible for resolving keys by prompting the user for
    passwords.
    It will check if the JVM is in headless mode and then use the console for
    prompting, otherwise a Swing GUI.
    If you want to hard code a password instead, you would need to inject an
    instance of your own implementation of the interface
    {{{../apidocs/de/schlichtherle/truezip/key/KeyManagerProvider.html}<<<KeyManagerProvider>>>}}.
    For more information, please refer to the article about
    {{{../truezip-driver/truezip-driver-tzp/key-management.html}Key Management}}.

    Now you can easily create or overwrite an entry in your custom application
    file format like this:

+--+
OutputStream out = new TFileOutputStream("file.fox/contents.xml");
try {
    ...;
} finally {
    out.close(); // ALWAYS close the resource here!
}
+--+

    Alternatively, you could use a 
    {{{../apidocs/de/schlichtherle/truezip/file/TFileWriter.html}<<<TFileWriter>>>}}.

    This is how you could read the entry again:

+--+
InputStream in = new TFileInputStream("file.fox/contents.xml");
try {
    ...;
} finally {
    in.close(); // ALWAYS close the resource here!
}
+--+

    Alternatively, you could use a 
    {{{../apidocs/de/schlichtherle/truezip/file/TFileReader.html}<<<TFileReader>>>}}.

    And finally, to delete a virtual directory tree - in this case your custom
    application file - you could use this:

+--+
new TFile("file.fox").rm_r();
+--+

    Note that calling the method <<<rm_r()>>> is required to recursively delete
    the application file because the <<<TFile>>> object refers to a virtual
    directory, which cannot get deleted using similar methods like
    <<<delete()>>> or <<<rm()>>> unless it's empty.

#cleaningUp()
