#parse("common.apt.vm")

## TODO: Update the screen shots.

    -----------------------------
    Getting Started with NetBeans
    -----------------------------
    Christian Schlichtherle
    -----------------------------

Getting Started with NetBeans

    This guide shows how to kick-start a TrueVFS application in NetBeans
    with the help of a Maven archetype.

* Prerequisites

    You need to have the following software installed:

    * {{{http://www.netbeans.org}NetBeans&#160;7.0}} or later.

    * JSE&#160;7.

    []

* Setting Up NetBeans

    NetBeans 7.0 ships with an embedded snapshot of Maven 3.0.3, so you don't
    need to install or configure anything.

* Generating a Sample Project

    To generate the application archetype, select <File> -> <New Project>
    or type <Ctrl+Shift+N> to open the following dialog:

[netbeans/01_New_Project.png] New Project

    Select <Maven> -> <Project from Archetype> and click <Next> to open the
    next dialog.
    In this dialog, click <Add...> to open the following sub dialog:

[netbeans/02_Specify_archetype_details.png] Specify archetype details

    Enter <<<net.java.truevfs>>> as the Group Id,
    <<<truevfs-archetype-access>>> as the Artifact Id
    and click <OK> to return to the top dialog should look like this now:

[netbeans/03_New_Project.png] New Project

    Select the entry <Custom archetype - truevfs-archetype-file (LATEST)>
    and click <Next> to open the following dialog:

[netbeans/04_New_Project.png] New Project

    Enter the appropriate values for your project's <Group Id>, <Artifact Id>,
    <Version> and <Package> and then click <Finish> to see the magical
    population of the Package Explorer with your shiny new TrueVFS Access
    application happen:

[netbeans/05_Projects.png] Package Explorer

#explore()

* Building And Running the Sample Project

    To build and run your application in your local Maven repository,
    select select <Run> -\> <Build Project>.
    This should open an Output view with the output of the Maven command.
    Close to its end, it should read <<<BUILD SUCCESS>>>:

[netbeans/06_Output.png] Output

    To run the main class <<<Tree>>>, select it in the Projects window
    and select <Run> -\> <Run File>.
    This should produce a similar output to the following in the Output window:

[netbeans/07_Output.png] Output

    Note that the contents of the JAR file
    <<<target/project-0.1-SNAPSHOT.jar>>> get listed, too!
    This is because the configuration file <<<pom.xml>>> is set up to recognize
    JAR files as virtual directories by adding the module TrueVFS Driver ZIP
    with the artifactId <<<truevfs-driver-zip>>> to the run time class path.
    You can change this by editing the configuration file <<<pom.xml>>>.
