## The name of this file has solely been selected in order to compensate for a
## bug in Doxia:
## Apparently, if it isn't the first file in alphabetical order, then the first
## file in alphabetical order which parses this file would ignore the result
## and hence the macros defined here would not be available to it.
#parse("common.vm")
