## Note that this text has been copied to the Maven site of all other
## TrueVFS Profile modules because there is no other way you could share text
## between Maven sites other than linking to it or relying on symbolic links.
## So if you edit this text, make sure the text for all other profile modules
## gets updated accordingly.

    --------------------------
    About
    --------------------------
    Christian Schlichtherle
    --------------------------

About

    Profiles bundle some TrueVFS modules so that you can easily use them as a
    single all-in-one dependency.
    Other than that, profiles do not provide additional functionality.
    For a complete list of the modules bundled in this profile, please refer
    to its {{{./dependencies.html}Dependencies}} report.

* Using this profile with Maven

    When using Maven, you can simply declare a profile as a dependency in
    your POM as follows:

+--+
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
    <type>pom</type>
</dependency>
+--+

    Note that you should specify the dependency type as <<<pom>>>.

** Excluding unwanted modules

    This profile may bundle modules you do <not> want to use.
    You can exclude a module in your dependency declaration as follows:

+--+
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
    <type>pom</type>
    <exclusions>
        <exclusion>
            <groupId>${project.groupId}</groupId>
            <artifactId>truevfs-driver-sfx</artifactId>
        </exclusion>
    </exclusions>
</dependency>
+--+

    The previous example assumes you would want to exclude the
    {{{../../truevfs-driver/truevfs-driver-sfx/index.html}<<<TrueVFS&#160;Driver&#160;SFX>>>}}.

* Using this profile without Maven

    If you do not want to use Maven then you can directly
    {{{http://repo1.maven.org/maven2/net/java/truevfs/${project.artifactId}/${project.version}/${project.artifactId}-${project.version}-all.jar}<<download>>}}
    the all-in-one JAR of this profile from Maven Central.
    This all-in-one JAR contains all transitive dependencies, including third
    party JARs, e.g. for Apache Commons Compress et al.
    However, you cannot exclude any dependencies or change their version.
