.dialog {
    position: fixed;
    z-index: 1;
    color: black;
    font-size: 12pt;
    background-color: #eeeeee;
    border: 2px outset #1279C6;
    border-collapse: separate;
    border-spacing: 0.5em;
    padding: 0;
}
.dialog table {
    border: 0;
    border-collapse: collapse /*separate*/;
    border-spacing: 0 /*2px*/;
}
.dialog th, .dialog td {
    padding: 0 /*1px*/;
}
.dialog th {
    background-color: #eeeeee;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.dialog td {
    text-align: justify;
}
#donate {
    left: 300px;
    top: 150px;
    width: 450px;
}
#paypal {
    margin: auto;
    border: 0;
    border-collapse: separate;
    border-spacing: 1.2em; /*2px*/;
    padding: 0;
    /*width: 100%;*/
}
#paypal th, #paypal td {
    background-color: white;
    border: 1px solid #1279C6;
    padding: 0.5em;
    text-align: center;
}
