    -----------------------------------
    About TrueVFS Extension PaceManager
    -----------------------------------
    Christian Schlichtherle
    -----------------------------------

About

    Constrains the number of concurrently mounted archive file systems in
    order to save some heap space.
    This module provides a JMX interface for management and monitoring.

* Usage

    Add the JAR artifact of this module to the run time class path to
    make its services available for service location in the client API
    modules.

    When using Maven, add the following to your <<<pom.xml>>> file:

+--+
<project    xmlns="http://maven.apache.org/POM/4.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    ...
    <dependencies>
        ...
        <dependency>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <scope>runtime</scope>
        </dependency>
    </dependencies>
</project>
+--+
