    -----------------------
    Kick-Starting TrueZIP
    -----------------------
    Christian Schlichtherle
    -----------------------

Kick-Starting TrueZIP

    This section shows how to kick-start a TrueZIP application by generating
    it from a Maven archetype.
    Each client API features its own Maven archetype:

    * The TrueZIP File* API features an archetype with the following Maven
      coordinates:

    Group Id: <<de.schlichtherle.truezip>>\
    Artifact Id: <<truezip-archetype-file>>\
    Version: <<${project.version}>>
    
    * The TrueZIP Path API features an archetype with the following Maven
      coordinates:

    Group Id: <<de.schlichtherle.truezip>>\
    Artifact Id: <<truezip-archetype-path>>\
    Version: <<${project.version}>>

    []

    The following guides are written with the archetype for the TrueZIP File*
    API in mind.
    However, they work the same way with the archetype for the TrueZIP Path
    API - you just need to use the appropriate Maven coordinates from the
    above list:

    [[1]] Kick-Starting TrueZIP applications from a Maven archetype in...

        [[a]] {{{./file/eclipse.html}Eclipse}},

        [[a]] {{{./file/netbeans.html}NetBeans}} or a

        [[a]] {{{./file/shell.html}shell}}.

    [[1]] If you do not want to use Maven, you can still use TrueZIP once
          you've read this guide:
          {{{./no-maven.html}Using TrueZIP without Maven}}.

    []
