    --------------------------
    Getting Started with an Archetype
    --------------------------
    Christian Schlichtherle
    --------------------------

Getting Started with an Archetype

* Applying the TrueVFS&#160;Archetype&#160;Access

    You can generate, build and run your first TrueVFS application from the
    {{{../truevfs-archetype/truevfs-archetype-access/index.html}TrueVFS&#160;Archetype&#160;Access}}
    in about five minutes.
    The generated application contains lots of sample code demonstrating
    different features of the client APIs in Java and Scala.
    Working from there, it should be straightforward to apply the client
    APIs to your individual use case.

* Applying the TrueVFS&#160;Archetype&#160;Profile

    For ease of use, most TrueVFS modules are bundled in one or more TrueVFS
    profiles.
    Besides the mere bundling, each profile also provides a shaded JAR with all
    transient dependencies included, which may be easier to redistribute or use
    in non-Maven projects.
    You can create your own custom profile by applying the
    {{{../truevfs-archetype/truevfs-archetype-profile/index.html}TrueVFS&#160;Archetype&#160;Profile}}.
