    -----------------------
    Getting started without Maven
    -----------------------
    Christian Schlichtherle
    -----------------------

Getting started without Maven

    If you do not want to use Maven then you can easily download
    {{{http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22net.java.truevfs%22%20AND%20v%3A%22${project.version}%22}<<individual TrueVFS artifacts>>}}
    from Maven Central.

    You can also directly download the {{{http://repo1.maven.org/maven2/net/java/truevfs/truevfs-profile-default/${project.version}/truevfs-profile-default-${project.version}-shaded.jar}<<shaded JAR for the default profile>>}}.
    This shaded JAR saves you from grabbing the JARs for the modules referenced
    by the
    {{{../truevfs-profile/truevfs-profile-default/index.html}default profile}}
    individually.

* Side effects

    A profile is no more than an aggregate which references other modules as
    its dependencies.
    Some of these modules advertise services so that the client module
    {{{../truevfs-access/index.html}TrueVFS&#160;Access}}
    can locate them on the class path at runtime.
    While this is required to follow the convention-over-configuration
    paradigm, it may produce some unwanted side effects:

    * The client module TrueVFS Access will detect all mapped file extensions
      for all file system drivers referenced by the profile.
      This may confuse an application if it doesn't expect an archive file to
      behave like a virtual directory.

    * In case of TAR files, the driver module
      {{{../truevfs-driver/truevfs-driver-tar/index.html}TrueVFS&#160;Driver&#160;TAR}}
      will unpack the entire TAR file into a temporary directory first because
      the TAR file format lacks a central directory for fast random access.
      This may seriously degrade performance if not needed.

    * In case of ZIP.RAES files, the driver module
      {{{../truevfs-driver/truevfs-driver-zip-raes/index.html}TrueVFS&#160;Driver&#160;ZIP.RAES}}
      will prompt the user with a Swing or Console based dialog to enter a
      password in order to access the encrypted file contents.
      This may confuse the user if not needed.

    []

* Remedy

    To avoid unwanted side effects, you could either...

    [[a]] {{{../truevfs-access/configuration.html}customize the initial configuration}}
          in code (here's a {{{../usecases/aff.html}sample}}), or...

    [[a]] switch to Maven and simply exclude the unwanted modules from the
          profile, or...

    [[a]] manually add the JARs for only the desired modules.

    []

    The last resolution is the most cumbersome and so is generally discouraged.
