    -----------------------
    Getting started without Maven
    -----------------------
    Christian Schlichtherle
    -----------------------

Getting started without Maven

    If you do not want to use Maven then you can easily download an all-in-one
    shaded JAR for a
    {{{../truevfs-profile/index.html}TrueVFS&#160;Profile}}
    from
    {{{http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22net.java.truevfs%22%20AND%20v%3A%22${project.version}%22%20AND%20l%3A%22shaded%22}Maven Central}}.
    For a start, you should
    {{{http://repo1.maven.org/maven2/net/java/truevfs/truevfs-profile-default/${project.version}/truevfs-profile-default-${project.version}-shaded.jar}<<download>>}}.
    the shaded JAR for the
    {{{../truevfs-profile/truevfs-profile-default/index.html}TrueVFS&#160;Profile&#160;Default}}.

* Side effects

    Profiles bundle some TrueVFS modules so that you can easily use them as a
    single all-in-one dependency.
    Other than that, profiles do not provide additional functionality.
    While using a profile is very convenient, it may provide some unwanted side
    effects:

    * File system driver modules advertise services on the class path so that
      the client module
      {{{../truevfs-access/index.html}TrueVFS&#160;Access}} can detect all
      canonical file extensions for all their file system driver classes.
      This may confuse an application if it doesn't expect an archive file to
      behave like a virtual directory.

    * In case of TAR files, the driver module
      {{{../truevfs-driver/truevfs-driver-tar/index.html}TrueVFS&#160;Driver&#160;TAR}}
      will unpack the entire TAR file into a temporary directory first because
      the TAR file format lacks a central directory for fast random access.
      This may seriously degrade performance if not needed.

    * In case of ZIP.RAES files, the driver module
      {{{../truevfs-driver/truevfs-driver-zip-raes/index.html}TrueVFS&#160;Driver&#160;ZIP.RAES}}
      will prompt the user with a Swing or Console based dialog to enter a
      password in order to access the encrypted file contents.
      This may confuse the user if not needed.

    []

* Remedy

    To avoid unwanted side effects, you could either...

    [[a]] switch to Maven and simply exclude the unwanted modules from the
          profile (here's a {{{../truevfs-profile/truevfs-profile-default/index.html}sample}}),
          or...

    [[a]] {{{../truevfs-access/configuration.html}customize the initial configuration}}
          in code (here's a {{{../usecases/aff.html}sample}}), or...

    [[a]] manually add the JARs for only the desired modules.

    []

    The last resolution is the most cumbersome and so is generally discouraged.
