## Note that this text has been copied to the Maven site of all other
## TrueVFS Profile modules because there is no other way you could share text
## between Maven sites other than linking to it or relying on symbolic links.
## So if you edit this text, make sure the text for all other profile modules
## gets updated accordingly.

    ------------------------------
    About
    ------------------------------
    Christian Schlichtherle
    ------------------------------

About

    This archetype creates a custom TrueVFS profile which bundles all selected
    TrueVFS modules for ease of use with and without Maven.
    Profiles bundle some TrueVFS modules so that you can easily use them as a
    single all-in-one dependency.
    Other than that, profiles do not provide additional functionality.
    For a complete list of the modules bundled in a profile, please refer
    to its Dependencies report.

* Prerequisites

    You need to have the following software installed:

    * {{{http://maven.apache.org}Apache&#160;Maven&#160;3.0.4}}

    * JSE&#160;7.

    []

* Generate Maven Archetype

    To generate the profile archetype, type the following command in a
    shell while setting the <groupId>, <artifactId> and
    <package> properties to the appropriate values for your project:

+--
$ mvn archetype:generate -B \
    -DarchetypeGroupId=${project.groupId} \
    -DarchetypeArtifactId=${project.artifactId} \
    -DarchetypeVersion=${project.version} \
    -DgroupId=com.company \
    -DartifactId=project \
    -Dversion=0.1-SNAPSHOT \
    -Dpackage=com.company.project
+--

    Upon successful execution, a new directory with the value of the
    <<<artifactId>>> property as its name will have been created in the current
    directory.
    Next, point your favorite editor to the file <<<pom.xml>>> within that
    directory and follow the instructions in its comments.
