    -----------------------
    About TrueVFS Path
    -----------------------
    Christian Schlichtherle
    -----------------------

About TrueVFS Path

    This module provides the
    {{{./apidocs/de/truezip/path/TPath.html}<<<TPath>>>}}
    class
    for simple, uniform, transparent, thread-safe, read/write access to archive
    files as if they were virtual directories in a file system path.
    It also provides the
    {{{./apidocs/de/truezip/path/TFileSystemProvider.html}<<<TFileSystemProvider>>>}}
    class to implement a file system provider for the NIO.2 API (JSR 203) in
    JSE&#160;7.

    This is the primary API for JSE&#160;7 compliant TrueVFS applications:
    Like the API of the module {{{../truezip-file/index.html}TrueVFS File*}},
    this API is just a facade for the module
    {{{../truezip-kernel/index.html}TrueVFS Kernel}}.
    In contrast to the TrueVFS File* API however, this API can access
    any (virtual) file system, not just the platform file system and
    any archive files within the platform file system.
    In contrast to the TrueVFS Kernel API, both APIs are designed to be
    easy to learn and convenient to use while providing a great level
    of flexibility.
    Because all virtual file system state is managed by the TrueVFS
    Kernel module, this module can concurrently access the same file
    systems than the TrueVFS File* module.

    For example, an application could access an entry within an archive
    file which is located at a web site using a
    {{{./apidocs/de/truezip/path/TPath.html}<<<TPath>>>}}
    like this:

+--+
Path path = new TPath(new URI("http://acme.com/download/everything.tar.gz/README.TXT"));
try (InputStream in = Files.newInputStream(path)) {
    // Read archive entry contents here.
    ...
}
+--+

    This example presumes that the JARs of the driver modules
    {{{../truezip-driver/truezip-driver-http/index.html}TrueVFS Driver HTTP(S)}}
    and
    {{{../truezip-driver/truezip-driver-tar/index.html}TrueVFS Driver TAR}}
    are present on the run time class path.

    For more examples, please use the Maven archetype for TrueVFS Path module
    applications as described in the
    {{{../kick-start/index.html}Kick-Starting TrueVFS}} section.
    You might also want to
    {{{http://repo1.maven.org/maven2/de/schlichtherle/truezip/truezip-samples/${project.version}/truezip-samples-${project.version}-sources.jar}download}}
    the source code of the module
    {{{../truezip-samples/index.html}TrueVFS Samples}}.

    For the API documentation, please refer to the Javadoc of the package
    {{{./apidocs/de/truezip/path/package-summary.html}<<<de.truezip.path>>>}}
