    -------------------------------
    About TrueVFS Extension Logging
    -------------------------------
    Christian Schlichtherle
    -------------------------------

About

    Instruments the TrueVFS Kernel for monitoring via SLF4J.

* Warning

    The tracing level should <not> be logged in production environments
    because of its performance impact due to excessive stack trace logging.
    Use for temporary testing and debugging only!

* Usage

    Add the JAR artifact of this module to the run time class path to
    make its services available for service location in the client API
    modules.

    When using Maven, add the following to your <<<pom.xml>>> file:

+--+
<project    xmlns="http://maven.apache.org/POM/4.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    ...
    <dependencies>
        ...
        <dependency>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <scope>runtime</scope>
        </dependency>
    </dependencies>
</project>
+--+

* The Log Records

    The instrumented TrueVS Kernel records a message each time it accesses a
    (virtual) file system or a temporary I/O buffer.
    This is useful for post-mortem analysis of issues like
    left-over-temporary-files or out-of-file-descriptors.

    Note the use of different logging levels to support the filtering of
    interesting log records:

    * DEBUG is used for opening and closing of any file system entries and
      allocating and releasing temporary buffers.

    * TRACE is used for stack traces of these events.

    []
